<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Merchants</title>
  </head>

  <body>
    <header>
      <h1><a href="/">Little Shop</a></h1>
      <nav>
        <ul>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/items">Items</a></li>
          <li><a href="/invoices">Invoices</a></li>
        </ul>
      </nav>
    </header>

    <section>
      <h1>Invoices Dashboard</h1>
    </section>
    <div class="cards">
      <ul>
        <li class="card item">
          <p class="card-header">Status Percentages</p>
          <p class="card-label">Pending: <%= Invoice.status_percentage(status: "pending") %>%</p>
          <p class="card-label">Shipped: <%= Invoice.status_percentage(status: "shipped") %>%</p>
          <p class="card-label">Returned: <%= Invoice.status_percentage(status: "returned") %>%</p>
        </li>

        <li class="card item">
          <p class="card-header">Unit Prices</p>
          <p class="card-label">Invoice with Highest:</p>
          <p class="card-label"><a href="/invoices/<%= Invoice.highest_unit_price.id %>"><%= Invoice.highest_unit_price.id %></a></p>
          <p class="card-label">Invoice with Lowest:</p>
          <p class="card-label"><a href="/invoices/<%= Invoice.lowest_unit_price.id %>"><%= Invoice.lowest_unit_price.id %></a></p>
        </li>

        <li class="card item">
          <p class="card-header">Quantity</p>
          <p class="card-label">Invoice with Highest:</p>
          <p class="card-label"><a href="/invoices/<%= Invoice.highest_quantity.id %>"><%= Invoice.highest_quantity.id %></a></p>
          <p class="card-label">Invoice with Lowest:</p>
          <p class="card-label"><a href="/invoices/<%= Invoice.lowest_quantity.id %>"><%= Invoice.lowest_quantity.id %></a></p>
        </li>
      </ul>
    </div>
  </body>
</html>
