<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Edit Invoice</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Little Shop</a></h1>
      <nav>
        <ul>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/items">Items</a></li>
          <li><a href="/invoices">Invoices</a></li>
        </ul>
      </nav>
    </header>

    <section class="header-section">
      <ul>
        <li><h2>Invoice: <%= invoice.id %> - <%= invoice.status.capitalize %></h2></li>
      </ul>
    </section>


    <section class="form-box">
      <form class="create-item" action="/invoices/<%= invoice.id %>" method="post">
        <p class="input-label">Merchant</p>
        <select name="update[merchant_id]" id="merchant">
          <option value="<%= invoice.merchant.id %>" disabled selected><%= invoice.merchant.name %></option>
          <% all_merchants.order(:name).each do |merchant| %>
            <option value="<%= merchant.id %>"><%= merchant.name %></option>
          <% end %>
        </select>
        <p class="input-label">Status</p>
        <select name="update[status]" id="status">
          <option value="shipped"><%= "Shipped" %></option>
          <option value="pending"><%= "Pending" %></option>
          <option value="returned"><%= "Returned" %></option>
        </select>
        <section class="buttons">
          <a href="/invoices">Cancel</a>
          <input type="hidden" name="_method" value="patch">
            <button class="patch-button" type="submit" value="patch">Update Invoice</button>
        </section>
      </form>
    </section>

    <div class="invoice-show">
      <table>
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
        </tr>
        <% invoice.invoice_items.each do |invoice_item| %>
          <tr>
            <td><a class="invoice-show" href="/items/<%= invoice_item.item_id %>"><%= invoice_item.item_id %></a></td>
            <td><%= invoice_item.item.title %></td>
            <td><%= invoice_item.quantity %></td>
            <td><%= invoice_item.unit_price %></td>
          </tr>
        <% end %>
      </table>
  </div>

  </body>
</html>
