<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>Invoices</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <%= erb :'partials/nav' %>
    <header>
      <a class="dashboard" href="/invoice/dashboard">Dashboard</a>
      <h1>Invoices</h1>
    </header>


  <table>
    <tbody>
    <% all_invoices.each do |invoice| %>
        <tr>
          <td>
            <a href="/invoices/<%= invoice.id %>"><%= invoice.id %></a>
              <a class="edit-button" href="/invoices/<%= invoice.id %>/edit">Edit</a>
            <form method="post" action="/invoices/<%= invoice.id %>">
              <input type="hidden" name="_method" value="delete">
              <button class="delete_invoice" type="submit" value="delete">Delete</a>
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>



  </body>
</html>
