<!DOCTYPE html>
<html>
  <head>
    <%= erb(:'partials/static_links') %>
    <title>Invoices</title>
  </head>

  <body>
    <%= erb(:'partials/header') %>
    <section class="header-section">
      <a href="/invoices-dashboard">Invoices Dashboard</a>
      <ul>
        <li><h1>Invoices</h1></li>
      </ul>
    </section>

    <div class="pagination">
      <%= will_paginate(all_invoices) %>
    </div>

    <table>
      <tr>
        <th>Invoice ID</th>
      </tr>
      <% all_invoices.each do |invoice| %>
        <tr>
          <td>
            <a class = "name" href="/invoices/<%= invoice.id %>"><%= invoice.id %></a>
            <a class="edit-button" href="/invoices/<%= invoice.id %>/edit">Edit</a>
            <form method="post" action="/invoices/<%= invoice.id %>">
              <input type="hidden" name="_method" value="delete">
              <button class="delete-button" type="submit" value="delete">Delete</a>
            </form>
          </td>
        </tr>
        <% end %>
    </table>

    <div class="pagination">
      <%= will_paginate(all_invoices) %>
    </div>

  </body>
</html>
