<!DOCTYPE html>
<html>
  <head>
    <%= erb(:'partials/static_links') %>
    <title>Invoice <%= invoice.id %></title>
  </head>
  <body>
    <%= erb(:'partials/header') %>
    <section class="header-section">
      <ul class="invoice-show">
        <li><h1 class="invoice-show">Invoice: <%= invoice.id %> - <%= invoice.status.capitalize %></h1></li>
        <li><h1 class="invoice-show">Total Charges: $<%= invoice.delimited_total %></h1></li>
        <div class="buttons-1">
          <li><a class="edit-button" href="/invoices/<%= invoice.id %>/edit">Edit</a></li>
          <li><form method="post" action="/invoices/<%= invoice.id %>">
            <input type='hidden' name='_method' value='delete'>
            <button class='delete-button' type='submit' value='delete'>Delete</button>
          </form></li>
        </div>
      </ul>
    </section>

    <div>
      <a class="merchant-name" href="/merchants/<%= invoice.merchant.id %>"><%= invoice.merchant.name %></a>
    </div>
    <div class="invoice-show">
      <table>
        <tr>
          <th >Item ID</th>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
        </tr>
        <% invoice.invoice_items.each do |invoice_item| %>
          <tr>
            <td><a class="invoice-show" href="/items/<%= invoice_item.item_id %>"><%= invoice_item.item_id %></a></td>
            <td><%= invoice_item.item.title %></td>
            <td><%= invoice_item.quantity %></td>
            <td><%= invoice_item.unit_price %></td>
          </tr>
        <% end %>
      </table>
  </div>
  </body>
</html>
