<!DOCTYPE html>
<html>
  <head>
    <%= erb(:'partials/static_links') %>
    <title>Merchant Dashboard</title>
  </head>
  <body>
    <%= erb(:'partials/header') %>
    <section class="header-section">
      <ul>
        <li><h2>Merchants Dashboard</h2></li>
      </ul>
    </section>

    <section class="top-merchants">
      <div id="most-items">
        <b>Merchant With Most Items:</b><br/>
          <a href="/merchants/<%= all_merchants.most_items.id %>">
            <%= all_merchants.most_items.name %>
          </a>
      </div>
      <div id="highest-price">
        <b>Merchant With Highest Priced Item:</b></br>
          <a href="/merchants/<%= all_merchants.highest_price_item.id %>">
            <%= all_merchants.highest_price_item.name %>
          </a>
      </div>
    </section>
<<<<<<< HEAD

=======
>>>>>>> d69d9e11b1691b5c0ac81bd5ccc6bd6fd78dba30
    <div class="cards">
      <ul>
        <% all_merchants.each do |merchant| %>
          <li id="merchant-analytics" class="card item">
            <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a><br />
            <p class="card-label">Item Count: <%= merchant.item_count %></p>
            <p class="card-label">Avg Item Price: <%= merchant.average_item_price %></p>
            <p class="card-label">Total Cost of Items: <%= merchant.total_item_cost %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
