<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Merchant Dashboard</title>
  </head>
  <body>
    <nav>
      <a class="plain link" href="/">LittleShop</a>
      <a class="plain link" href="/merchants">Merchants</a>
      <a class="plain link" href="/items">Items</a>
      <a class="plain link" href="/invoices">Invoices</a>
    </nav>
    <header>
      <h1>Merchant Dashboard</h1>
    </header>
    <section class="top-merchants">
      <div id="most-items">
        <b>Merchant With Most Items:</b><br/>
          <a href="/merchants/<%= all_merchants.most_items.id %>">
            <%= all_merchants.most_items.name %>
          </a>
      </div>
      <div id="highest-price">
        <b>Merchant With Highest Priced Item:</b></br>
          <a href="/merchants/<%= all_merchants.highest_price_item.id %>">
            <%= all_merchants.highest_price_item.name %>
          </a>
      </div>
    </section>
    <section class="merchant-analytics">
      <div class="">
        <%= all_merchants.each do |merchant| %>
        <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>
        Item Count: <%= merchant.item_count %>
        Avg Item Price: <%= merchant.average_item_price %>
        Total Cost of Items: <%= merchant.total_item_cost %>
      </div>
    </section>
  </body>
</html>
