<!DOCTYPE html>
<html>
  <head>
    <%= erb(:'partials/static_links') %>
    <title>Edit Merchant</title>
  </head>
  <body>
    <%= erb(:'partials/header') %>
    <section class="header-section">
      <ul>
        <li><h2>Edit <%= merchant.name %></h2></li>
      </ul>
    </section>

  <section class="form-box">
    <form class="create-item" action="/merchants/<%= merchant.id %>" method="post">
      <p class="input-label">Name</p>
      <input id="Name" type="text" name="update[name]" value="<%= merchant.name %>" required>
      <section class="buttons">
        <a href="/merchants">Cancel</a>
        <input type="hidden" name="_method" value="patch">
          <button class="patch-button" type="submit" value="patch">Update Merchant</button>
      </section>
    </form>
  </section>
</body>
</html>
