<!DOCTYPE html>
<html>
  <head>
    <%= erb(:'partials/static_links') %>
    <title>Merchants</title>
  </head>

  <body>
    <%= erb(:'partials/header') %>
    <section class="header-section">
      <a href="/merchants-dashboard">Merchant Dashboard</a>
      <ul>
        <li><h1>Merchants</h1></li>
        <li><a href="/merchants/new">Create a New Merchant</a></il>
      </ul>
    </section>

    <table>
      <tr>
        <th>Merchant Name</th>
      </tr>
      <% all_merchants.order(:name).each do |merchant| %>
      <tr>
        <td>
          <a class="name" href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>
          <a class="edit-button" href="/merchants/<%= merchant.id %>/edit" type="submit">Edit</a>
          <form method="post" action="/merchants/<%= merchant.id %>">
            <input type="hidden" name="_method" value="delete">
            <button class="delete-button" type="submit" value="delete">Delete</button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>

  </body>
</html>
