<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>Merchants</title>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body>
    <%= erb :'partials/nav' %>

    <header>
      <a class="dashboard" href="/merchant/dashboard">Dashboard</a>
      <h1>Merchants</h1>
      <a class="create-button" href="/merchants/new">Create a New Merchant</a>
    </header>

    <table>
      <% all_merchants.each do |merchant| %>
          <tr>
            <td>
              <a class="merchant-name" href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>
              <a href="/merchants/<%= merchant.id %>/edit" class="edit-button" type="submit">Edit</a>
              <form class="delete-button" method="post" action="/merchants/<%= merchant.id %>">
                <input type="hidden" name="_method" value="delete">
                <button class="delete-button" type="submit" value="delete">Delete</button>
              </form>
            </td>
          </tr>
        <% end %>
    </table>

  </body>
</html>
