<!DOCTYPE html>
<html>
  <head>
    <%= erb(:'partials/static_links') %>
    <title>Items Dashboard</title>
  </head>

  <body>
    <%= erb(:'partials/header') %>  
    <section class="header-section">
      <ul>
        <li><h2>Items Dashboard</h2></li>
      </ul>
    </section>

    <section class="cards">
      <ul>
        <li class="card-item">
          <h1>Total Item Count</h1>
          <h2><%= Item.count %></h2>
        </li>
        <li class="card-item">
          <h1>Avg Price Per Item</h1>
          <h2>$<%= Item.average(:price).round(2) %></h2>
        </li>
        <li class="card-item">
          <h1>Item by Age</h1>
          <h1>Newest</h1>
          <h4><%= Item.newest_item %></h2>
          <h1>Oldest</h1>
          <h4><%= Item.oldest_item %></h2>
        </li>
      </ul>
    </section>

  </body>
</html>
