<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>Items Dashboard</title>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body>
    <%= erb :'partials/nav' %>

    <header>
      <a class="dashboard" href="/merchant/dashboard">Dashboard</a>
      <h1>Items Dashboard</h1>
    </header>

    <div class="Item Count">
      <h3>Total Item Count</h3>
      <h2><%= items.count %></h2>
    </div>

    <div class="Average Price">
      <h3>Avg Price Per Item</h3>
      <h2><%= items.average(:price).round(2) %></h2>
    </div>

    <div class="Item by Age">
      <h3>Item by Age</h3>
      <h3>Newest</h3>
      <h4><%= items.newest_item %></h2>
      <h3>Oldest</h3>
      <h4><%= items.oldest_item %></h2>
    </div>

  </body>
</html>
