<!DOCTYPE html>
<html>
  <head>
    <%= erb(:'partials/static_links') %>
    <title>Edit Item</title>
  </head>
  <body>
    <%= erb(:'partials/header') %>
  <section class="header-section">
    <ul>
      <li><h2>Edit <%= item.title %></h2></li>
    </ul>
  </section>

  <section class="form-box">
    <form class="create-item" action="/items/<%= item.id %>" method="post">
      <p class="input-label">Merchant</p>
        <select name="update[merchant_id]" id="Merchant">
          <% all_merchants.order(:name).each do |merchant| %>
            <option value="<%= merchant.id %>"><%= merchant.name %></option>
          <% end %>
        </select>
      <p class="input-label">Title</p>
        <input id="Title" type="text" name="update[title]" placeholder="<%= item.title %>" required>
      <p class="input-label">Description</p>
        <input id="Description" type="text" name="update[description]" placeholder="<%= item.description %>" required>
      <p class="input-label">Price</p>
        <input id="Price" type="text" name="update[price]" placeholder="<%= item.price %>" required>
      <p class="input-label">Image URL</p>
        <input id="Image URL" type="text" name="update[image]" placeholder="<%= item.image %>" required>
      <section class="buttons">
        <a href="/invoices">Cancel</a>
        <input type="hidden" name="_method" value="patch">
          <button class="patch-button" type="submit" value="patch">Update Item</button>
      </section>
    </form>
  </section>
</body>
</html>
