<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Item</title>
  </head>
  <body>
  <nav>
    <a class="plain link" href="/">LittleShop</a>
    <a class="plain link" href="/merchants">Merchants</a>
    <a class="plain link" href="/items">Items</a>
    <a class="plain link" href="/invoices">Invoices</a>
  </nav>
  <header>
    <h1>Edit <%= item.title %></h1>
  </header>
  <section class="form-box">
    <form class="edit-item" action="/items/<%= item.id %>" method="post">
      <p class="input-label">Merchant</p>
      <select name="update[merchant_id]" id="Merchant">
        <% all_merchants.order(:name).each do |merchant| %>
          <option value="<%= merchant.id %>"><%= merchant.name %></option>
        <% end %>
      </select>
      <p class="input-label">Title</p>
      <input id="Title" type="text" name="update[title]" placeholder="<%= item.title %>">
      <p class="input-label">Description</p>
      <input id="Description" class="larger-input-space" type="text" name="update[description]" placeholder="<%= item.description %>">
      <p class="input-label">Price</p>
      <input id="Price" type="text" name="update[price]" placeholder="<%= item.price %>">
      <p class="input-label">Image</p>
      <input type="text" name="update[image]">

        <input type="submit" value="Update Item">
        <a class="cancel-button" href="/invoices">Cancel</a>

    </form>

  </section>
</body>
</html>
