<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>Items</title>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body>
    <%= erb :'partials/nav' %>

    <header>
      <a class="dashboard" href="/items/dashboard">Dashboard</a>
      <h1>Items</h1>
      <a class="create-button" href="/items/new">Create a New Item</a>
    </header>

    <table>
      <% all_items.each do |item| %>
          <tr>
            <td>
              <a class="item-name" href="/items/<%= item.id %>"><%= item.title %></a>
              <form class="edit-button"  method="get" action="/items/<%= item.id %>/edit">
                <button class="edit-button" type="submit">Edit</button>
              </form>
              <form class="delete-button" method="post" action="/items/<%= item.id %>">
                <input type="hidden" name="_method" value="delete">
                <button class="delete-button" type="submit" value="delete">Delete</button>
              </form>
            </td>
          </tr>
        <% end %>
    </table>

  </body>
</html>
