<!DOCTYPE html>
<html>
  <head>
    <%= erb(:'partials/static_links') %>
    <title><%= item.title %></title>
  </head>
  <body>
    <%= erb(:'partials/header') %>  
    <section class="header-section">
      <ul>
        <li><h6><%= item.title %></h6></li>
        <div class="buttons-1">
          <li><a class="edit-button" href="/items/<%= item.id %>/edit">Edit</a></li>
          <li><form method="post" action="/items/<%= item.id %>">
            <input type='hidden' name='_method' value='delete'>
            <button class='delete-button' type='submit' value='delete'>Delete</button>
          </form></li>
        </div>
      </ul>
    </section>

    <div class="item-show">
      <div class="picture">
        <a href="/merchants/<%= item.merchant_id %>"><%= item.merchant.name %></a>
        <img src="<%= item.image %>" alt="<%= item.title %> photo"></li>
      </div>
      <div class="description">
        <h4><%= item.title %></h4>
        <p>$<%= item.price %></p>
        <p><%= item.description %></p>
      </div>
    </div>
  </body>
</html>
